<head>
    <link rel="stylesheet" href="/styles.css/nav.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

</head>

<nav>
    <section id="Header">
        <a href="#"><img src="/imgs/logo.png" alt="" class="logo"></a>

        <div class="search-container">
            <form class="search-form" action="/search" method="get" onsubmit="console.log(document.getElementById('aa').innerHTML)">
                <input
                 class="search"
                 type="text"
                 placeholder="Search for any product!"
                 name="query"
                 id="aa"
                 >
            </form>
            <div>
                <ul>

                </ul>
            </div>
        </div>
        <div>
            <ul id="navbar">
                <li><a href="/home" class="<%= currentPage === 'home' ? 'active' : '' %>">Home</a></li>
                <li><a href="/shop" class="<%= currentPage === 'shop' ? 'active' : '' %>">Shop</a></li>
                <li><a href="/about" class="<%= currentPage === 'about' ? 'active' : '' %>">About</a></li>
                <li><a href="/contact" class="<%= currentPage === 'contact' ? 'active' : '' %>">Contact</a></li>
                <li><a href="/cart" class="<%= currentPage === 'cart' ? 'active' : '' %>"><i
                            class="far fa-shopping-bag"></i></a></li>
                <li class="profile">
                    <i class="far fa-user" style="color: white;"></i>
                    <ul class="dropdown-menu">
                        <% if(!user){ %>
                        <li><a href="/login" class="<%= currentPage === 'login' ? 'active' : '' %>">Login</a></li>
                        <li><a href="/signup" class="<%= currentPage === 'signup' ? 'active' : '' %>">Signup</a></li>
                        <% }else if(user){ %>
                        <li class="welcomeTxt"><span>Welcome</span> <%= user.name %></li>
                        <li><a href="/logout" onclick="return confirm('Are you sure you want to logout?');">Logout</a></li>
                        <% } %>
                    </ul>
                </li>
                <li><a href="#" id="toggle-dark"><i class="far fa-sun"></i></a></li>
            </ul>
        </div>
    </section>

    <div class="moving-info1">
        <p>10% OFF ON YOUR FIRST ORDER</p>
    </div>

    <div class="categories">
        <div class="cat-list">
            <a class="ALL CATEGORIES" href="/Shop">ALL CATEGORIES</a>
            <a class="men" href="/shop/Men">MEN</a>
            <a class="women" href="/shop/Women">WOMEN</a>
            <a class="kids" href="/shop/Kids">KIDS</a>
            <a class="athletics" href="/shop/Athletics">ATHLETICS</a>
            <a class="beauty" href="/shop/Beauty">BEAUTY</a>

        </div>
    </div>
</nav>