<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css/details.css">
</head>
<body>
    <%- include('./partials/adminnav.ejs') %> <!-- Include your navbar here -->

    <div class="product">
        <img src="<%=product.image %>" alt="<%= product.name %>">
        <%console.log(product.image);%>
        <div class="product-details">
            <h1>Product Details</h1>
            <h2><%= product.name %></h2>
            <p><%= product.description %></p>
            <p>Category: <%= product.category %></p>
            <p>Type: <%= product.type %></p>
            <p>Brand: <%= product.brand %></p>
            <p>Color: <%= product.color %></p>
            <p>Price: $<%= product.price %></p>
            <a href="/shop" class="button">Back to Shop</a>
            <a href="/cart" class="button">Checkout</a>
    </div>
</body>
</html>
