<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="/styles.css/E-commerce.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>

<body>


    <%- include('./partials/nav.ejs') %>


    <!-- <section id="slideshow-sec">


            <img id="slideshow" src="" alt="Slideshow Image">
            <div class="arrow prev" onclick="prevImage()">&#10094;</div>
            <div class="arrow next" onclick="nextImage()">&#10095;</div> 
        </section>  -->

    <section id="hero">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h1>
            <h1>On all products</h1>
            <p>save more with coupons & up to 70%</p>
            <button>Shop now</button>
    </section>


    <section id="mostalzmat" class="section-box">
        <div class="box">
            <img src="/imgs/misc/FreeShipping.png" alt="">
            <h6>Free shipping</h6>
        </div>
        <div class="box">
            <img src="/imgs/misc/online.png" alt="">
            <h6>Online orders</h6>
        </div>
        <div class="box">
            <img src="/imgs/misc/saveMoney.png" alt="">
            <h6>Save money</h6>
        </div>
        <div class="box">
            <img src="/imgs/misc/prom.jpg" alt="">
            <h6>Promotions</h6>
        </div>
        <div class="box">
            <img src="/imgs/misc/f5.png" alt="">
            <h6>Happy sell</h6>
        </div>
        <div class="box">
            <img src="/imgs/misc/f6.png" alt="">
            <h6>F24/7Support</h6>
        </div>
    </section>

    
    <section id="product1" class="section-box">
        <h2>Featured Products</h2>
        <p>Shop Now!</p>
        <div class="pro-container">
            <div class="prod_flex">                       
                <% if (typeof data !== 'undefined' && data.length > 0) { %>
                    <% data.forEach(item => { %>
                        <% if (item.name && item.price && item.description) { %>       
                            <div class="pro">
                                <a href="/details/<%= item._id %>"> <!-- Link wraps the image -->
                                    <img class="proImg" src="<%= item.image || '/uploads/default.jpg' %>" alt="<%= item.name %> Image">
                                </a>
                                <div class="des">
                                    <span><%= item.brand %></span>
                                    <h5><%= item.name %></h5>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <h4><p style="display: inline; font-size: 0.8em;">EGP </p><%= item.price %></h4>
                                </div>
                                <a href="/details/<%= item._id %>"><i class="fal fa-shopping-cart cart"></i></a>
                            </div>
                        <% } %>
                    <% }) %>
                <% } else { %>
                    <p>No results available.</p>
                <% } %>  
            </div>
        
          
            <!-- <div class="pro">
                <img src="/imgs/products/hamza-nouasria-WMDVjvLE8ls-unsplash.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Black long-sleeves</h5>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78$</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>-->
        </div>
    </section> 

    <section id="banner" class="section-m1">
        <h2>Up to <span>70% off</span> - All t-shirts & Accessories</h2>
        <a class="seperate" href="shop" >Explore more</a>
    </section>

    <%- include('./partials/footer.ejs') %>
   
</body>

</html>